@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;/*sets how a flex item will grow or shrink to fit the space available in its flex container*/
}

.sidebar{
    background-color: black;
    width: 434px;
    font-family: 'Barlow', sans-serif; 
    
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 30px 0;
    color: white;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    background-color: grey;
    width: 90vw;
    height: 100vh;
}

.infoContainer{
    background-color:whitesmoke;
    height:75vh;
    width: 65vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 85px;
}

.name{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
}

.about{
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
}

.moreabout{
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
}

.buttons{
    margin-top: 30px;
}

.btn{
    padding: 10px 10px;
    border-radius: 40px;
    color: black;
    background-color: green;
    font-weight: bold;
    font-size: 21px;
    margin:0 3 px;
    cursor: pointer;
}

.btn-sm{        /*sm-small*/
    font-size: 17px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover{
    color: black;
    background-color: white;
}

.devpic  img{
    width: 300px;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Barlow', sans-serif;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /*text-align: center;*/
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 26vw;
    border-radius:5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 1px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 30px;
    margin: 3px 0;
}